.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
}

#calculator {
    background-color: rgb(191, 191, 191);
    border-radius: 10px;
}

#screen {
    display: flex;
    align-items: center;
    justify-content: right;
    background-color: rgb(155, 154, 154);
    width: 260px;
    height: 60px;
    margin: 16px;
    border-radius: 10px;
}

#display {
    margin-right: 10px;
    font-size: 24px;
}

#buttons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 6px;
    row-gap: 6px;
    margin: 16px;
}

button {
    background-color: rgb(175, 175, 222);
    height: 40px;
    border-radius: 10px;
    font-size: 16px;
}

.delete {
    grid-column: 3 / span 2;
}

.clear {
    grid-column: 1 / span 2;
}