#calculator {
    width: 300px;
}

#screen {
    display: flex;
    align-items: center;
    justify-content: right;
    background-color: rgb(155, 154, 154);
    width: 300px;
    height: 50px;
    margin-bottom: 16px;
}

#display {
    margin-right: 10px;
}

#buttons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 6px;
    row-gap: 6px;
}